<figure>
    <figcaption>4. Development of tourism<span class="subcaption">Average number of nights, 2000-2022</span></figcaption>
    <iframe title="Average number of nights per tourist" aria-label="Interactive line chart" id="datawrapper-chart-UzhV3" src="https://datawrapper.dwcdn.net/UzhV3/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="350" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();</script>
    <aside class="column-1">
        <details>
            <summary>Data as table (Monthly)</summary>
            <table id="ctl00_ctl00_ContentPlaceHolderMain_cphMain_Table1_Table1_DataTable" class="table-class" summary="Key indicators in Tourism, by years by Indicators and Year" border="0">
                <thead>
                    <tr>
                        <th class="table-title" colspan="11">Key indicators in Tourism, by years</th>
                    </tr><tr>
                        <td class="table-header-first" colspan="1" rowspan="1">&nbsp;</td><th class="table-header-first" id="H120121" scope="col" colspan="1">2012</th><th class="table-header-first" id="H120131" scope="col" colspan="1">2013</th><th class="table-header-first" id="H120141" scope="col" colspan="1">2014</th><th class="table-header-first" id="H120151" scope="col" colspan="1">2015</th><th class="table-header-first" id="H120161" scope="col" colspan="1">2016</th><th class="table-header-first" id="H120171" scope="col" colspan="1">2017</th><th class="table-header-first" id="H120181" scope="col" colspan="1">2018</th><th class="table-header-first" id="H120191" scope="col" colspan="1">2019</th><th class="table-header-first" id="H120201" scope="col" colspan="1">2020</th><th class="table-header-first" id="H120211" scope="col" colspan="1">2021</th>
                    </tr>
                </thead><tbody>
                    <tr>
                        <th class="layout2-table-stub layout2-table-stub1" id="R010" rowspan="1" scope="row">Average number of nights spent - total</th><td class="table-data-filled" headers="R010 H120121">3.24</td><td class="table-data-filled" headers="R010 H120131">3.07</td><td class="table-data-filled" headers="R010 H120141">2.98</td><td class="table-data-filled" headers="R010 H120151">2.93</td><td class="table-data-filled" headers="R010 H120161">2.87</td><td class="table-data-filled" headers="R010 H120171">2.78</td><td class="table-data-filled" headers="R010 H120181">2.82</td><td class="table-data-filled" headers="R010 H120191">2.75</td><td class="table-data-filled" headers="R010 H120201">3.63</td><td class="table-data-filled" headers="R010 H120211">3.29</td>
                    </tr><tr>
                        <th class="layout2-table-stub layout2-table-stub1" id="R021" rowspan="1" scope="row">Average number of nights spent - domestic tourists</th><td class="table-data-filled" headers="R021 H120121">4.29</td><td class="table-data-filled" headers="R021 H120131">4.22</td><td class="table-data-filled" headers="R021 H120141">4.10</td><td class="table-data-filled" headers="R021 H120151">4.11</td><td class="table-data-filled" headers="R021 H120161">4.06</td><td class="table-data-filled" headers="R021 H120171">4.02</td><td class="table-data-filled" headers="R021 H120181">4.02</td><td class="table-data-filled" headers="R021 H120191">3.94</td><td class="table-data-filled" headers="R021 H120201">4.14</td><td class="table-data-filled" headers="R021 H120211">4.02</td>
                    </tr><tr>
                        <th class="layout2-table-stub layout2-table-stub1" id="R032" rowspan="1" scope="row">Average number of nights spent - foreign tourists</th><td class="table-data-filled" headers="R032 H120121">2.31</td><td class="table-data-filled" headers="R032 H120131">2.21</td><td class="table-data-filled" headers="R032 H120141">2.17</td><td class="table-data-filled" headers="R032 H120151">2.13</td><td class="table-data-filled" headers="R032 H120161">2.06</td><td class="table-data-filled" headers="R032 H120171">2.05</td><td class="table-data-filled" headers="R032 H120181">2.11</td><td class="table-data-filled" headers="R032 H120191">2.08</td><td class="table-data-filled" headers="R032 H120201">2.14</td><td class="table-data-filled" headers="R032 H120211">2.28</td>
                    </tr>
                </tbody>
            </table>
        </details>
        <details>
            <summary>As image (PNG)</summary>
            <picture>
                <img src="/assets/img/charts/tourism.png" alt="" />
            </picture>
        </details>
    </aside>
</figure>