body {
    color: #333;
}

button {
    background-color: var(--darkest);
    color: var(--text-inverted);
    border-radius: var(--space-small);
    padding: var(--space-small) var(--space-medium);
    border: 1px solid transparent;

    &:hover, &:focus {
        background-color: var(--text-inverted);
        color: var(--text);
        border-color: var(--darkest);
        cursor: pointer;
    }
}

table {
    margin-bottom: var(--space-xlarge);

    th, td {
        padding: var(--space-small);
        margin: 0;
    }

    tr > th:first-of-type {
        padding-left: 0;
    }

    tr > td:nth-of-type(n + 1), tr > th:nth-of-type(n + 2) {
        border-left: 1px solid var(--table-border-color);
    }

    td {
        text-align: right;
    }

    th, caption {
        text-align: left;
    }

    tbody th, tbody td {
        border-top: 1px solid var(--table-border-color);
    }
}