:root {
    --link: hsl(29, 100%, 41%);
    --text: hsl(0,100%,5%);
    --text-inverted: hsl(0, 100%, 100%);
    --darkest: hsl(194, 64%, 13%);
    --border-color: hsl(29, 30%, 71%);
    --table-border-color: hsl(29, 30%, 71%);
}