:root {
    --primary: hsl(194, 65%, 10%);
    --secondary: hsl(30, 20%, 97%);
    --tertiar: hsl(30, 100%, 40%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0,100%,0%);
    --link: hsl(30, 100%, 41%);
    --link-hover: hsl(0, 100%, 100%);
    --link-hover-background: hsl(194, 64%, 13%);
    --link-selected:hsl(0, 100%, 100%);
    --link-selected-background: hsl(194, 64%, 13%);
    --button-background__disabled: hsl(30, 8%, 65%);
    --button__disabled: hsl(0, 0%, 26%);
    --button-hover: hsl(0, 100%, 100%);
    --button-hover-background: hsl(194, 64%, 13%);
    --button-hover__disabled: hsl(0, 0%, 26%);
    --button-hover-background__disabled: hsl(30, 8%, 65%);;
    --input-background: hsl(30, 100%, 99%);
    --input-background-focus: hsl(0, 100%, 100%);
    --text: hsl(0,100%,5%);
    --text-inverted: hsl(0, 100%, 100%);
    --darkest: hsl(194, 64%, 13%);
    --border-color: hsl(30, 30%, 71%);
    --border-focus:hsl(194, 64%, 13%);
    --table-border-color: hsl(29, 30%, 71%);
    --selection: hsl(45, 100%, 80%);
    --panel-background: hsl(0, 100%, 100%);
}