:root {
    --primary: hsl(194, 64%, 13%);
    --secondary: hsl(29, 100%, 41%);
    --tertiar: hsl(29, 10%, 27%);
    --white: hsl(0, 100%, 100%);
    --black: hsl(0,100%,0%);
    --link: hsl(29, 100%, 41%);
    --link-hover: hsl(0, 100%, 100%);
    --link-hover-background: hsl(194, 64%, 13%);
    --button-hover: hsl(0, 100%, 100%);
    --button-hover-background: hsl(194, 64%, 13%);
    --button-hover__disabled: hsl(0, 0%, 36%);
    --button-hover-background__disabled: hsl(29, 30%, 71%);
    --input-background: hsl(30, 100%, 99%);
    --input-background-focus: hsl(0, 100%, 100%);
    --text: hsl(0,100%,5%);
    --text-inverted: hsl(0, 100%, 100%);
    --darkest: hsl(194, 64%, 13%);
    --border-color: hsl(29, 30%, 71%);
    --border-focus:hsl(194, 64%, 13%);
    --table-border-color: hsl(29, 30%, 71%);
    --selection: hsl(45, 100%, 80%);
    --panel-background: hsl(0, 100%, 100%);
}