.icon-pie {
    background-image: url('/assets/icons/pie.svg');     
}
.icon-checklist {
    background-image: url('/assets/icons/checklist.svg');
}
.icon-bars {
    background-image: url('/assets/icons/bars.svg');
}
.icon-download {
    background-image: url('/assets/icons/download.svg');
}
.icon-calendar {
    background-image: url('/assets/icons/calendar.svg');
}

.icon-person {
    background-image: url('/assets/icons/person.svg');
}

.icon-publication {
    background-image: url('/assets/icons/publication.svg');
}