:root {
    --space-xlarge: 3rem;
    --space-large: 1.5rem;
    --space-medium: 1rem;
    --space-small: 0.75rem;
    --space-xs: 0.5rem;
    --space-tiny: 0.25rem;

    --space-top: 1rem;
    --space-between: 1rem;

    --border-radius: 0.25rem;
}

.gap {
    gap: var(--space-between);
}
.gap-small {
    gap: var(--space-tiny);
}
.gap-large {
    gap: 3rem !important;
}

/* Generic layout classes */
@media screen and (max-width: 640px ) {
    .mobile-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 640px ) {
    .desktop-hidden {
        display: none !important;
    }
}

.column, .column-1 {
    display: flex;
    flex-direction: column;
    gap: var(--space-between);
}

.row {
    display: flex;
    flex-direction: row;
}

.column-if-mobile {
    @media screen and (max-width: 920px ) {
        flex-direction: column;
        max-width: 100vw;
        align-content: start;
        gap: var(--space-between);
    }
}

.columns-4 {
    display: grid;
    gap: var(--space-between);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.columns-3 {
    display: grid;
    gap: var(--space-between);
    grid-template-columns: 1fr 1fr 1fr;
}

.columns-2 {
    display: grid;
    gap: var(--space-between);
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1140px) {
    .columns-4, .columns-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .columns-2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 920px) {
    .columns-4, .columns-3 {
        grid-template-columns: 1fr 1fr;
    }

    .columns-2 {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .columns-4, .columns-3, .columns-2 {
        display: flex;
        flex-direction: column;
    }
}

.space-between {
    justify-content: space-between;
}

.spaced {
    justify-content: space-between;
    gap: var(--space-medium);
}

.spaced-small {
    justify-content: space-between;
    gap: var(--space-small);
}

.max-1280, .full-width {
    max-width: 1280px;
}

.text-width {
    width: min(64ch, calc(100% - 1rem));
}

.margin-auto {
    margin: 0 auto;
}
.margin-top {
    margin-top: var(--space-top);
}

.image-height-small {
    max-height: 48px;
}

.padded {
    padding: var(--space-small) var(--space-medium);
}
.padded-large {
    padding: var(--space-xlarge) var(--space-large);
}
.padded-small {
    padding: var(--space-tiny) var(--space-small);
}

.wrap {
    flex-wrap: wrap;
}

.list {
    @media screen and (max-width: 920px ) {
        max-width: 100vw;
    }
}

.panel {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--panel-background);
}

/* Area specific layouts */
body {
    padding: 0;
    margin: 0;
}

body > header, main, body > article, .is-main {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 var(--space-large)
}

main .list article, article article {
    padding: 0;
}

footer {
    max-width: 100vw;
    margin: var(--space-large) 0 0;
}

footer > * {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 920px ) {
    footer > * {
        margin: 0;
        padding: var(--space-medium);
    }

    main article {
        padding: 0;
    }
}

body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-medium);
}

nav header, section header, aside header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: var(--space-small);
    align-items: start;

    a::before {
        content: '|';
        margin-right: var(--space-small);
        color:var(--border-color);
    }
}

@media screen and (max-width: 1280px ) {
    body > header {
        padding: var(--space-medium) var(--space-large);
    }
}

@media screen and (max-width: 640px ) {
    section header, nav header, aside header {
        flex-direction: column;
        gap: var(--space-tiny);

        a.readmore {
            align-self: start;

            &::before {
                content: '';
                margin: 0;
            }
        }
    }
}

article header {
    flex-direction: column;
    padding: 0;
}

article {
    .preamble {
        max-width: 70vw;
    }
    .content {
        margin-top: var(--space-top);
        max-width: 58vw;
    }
}

@media screen and (max-width: 720px) {
    article {
            .preamble {
                max-width: calc(100vw - var(--space-large) - var(--space-large));
            }
            .content {
                max-width: calc(100vw - var(--space-large) - var(--space-large));;
            }
    }
}

.info {
    padding: var(--space-top) 0;
}

.radio-list, .checkbox-list {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    justify-items: start;
}