:root {
    --space-xlarge: 3rem;
    --space-large: 1.5rem;
    --space-medium: 1rem;
    --space-small: 0.75rem;
    --space-xs: 0.5rem;
    --space-tiny: 0.25rem;

    --space-top: 2rem;

    --border-radius: 0.25rem;
}

/* Generic layout classes */
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--space-large);
}

.column_if_mobile {
    @media screen and (max-width: 920px ) {
        flex-direction: column;
        max-width: 100vw;
        align-content: start;
    }
}

.spaced {
    justify-content: space-between;
    gap: var(--space-medium);
}

.wrap {
    flex-wrap: wrap;
}

.list {
    max-width: 50%;
    @media screen and (max-width: 920px ) {
        max-width: 100vw;
    }
}

/* Area specific layouts */
body {
    padding: 0;
    margin: 0;
}

header, main, nav.main, nav.breadcrumb, article {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--space-large)
}

main article {
    padding: 0;
}

footer {
    width: 100vw;
    color: var(--text-inverted);
    background-color: var(--darkest);
}
footer > * {
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 920px ) {
    footer > * {
        margin: 0;
        padding: var(--space-medium);
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--space-medium);
}

@media screen and (max-width: 1280px ) {
    header {
        padding: var(--space-medium) var(--space-large);
    }
}

article header {
    flex-direction: column;
    padding: 0;
}

nav.main {
    padding: 0 var(--space-medium) var(--space-medium);
}

article {
    .preamble {
        max-width: 70vw;
    }
    .content {
        margin-top: var(--space-top);
        max-width: 58vw;
    }
}

@media screen and (max-width: 720px) {
    article {
            .preamble {
                max-width: calc(100vw - var(--space-large) - var(--space-large));
            }
            .content {
                max-width: calc(100vw - var(--space-large) - var(--space-large));;
            }
    }
}

footer {
    padding: var(--space-xlarge) 0 4rem;
}

.info {
    padding: var(--space-top) 0;
}