@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/PublicSans-VariableFont_wght.ttf')
}

:root {
    /* Header sizes */
    --header-h1: 3.6rem;
    --header-h2: 3.2rem;
    --header-h3: 1.3rem;
    --header-h4: 2.1rem;
    --header-h5: 1.75rem; 
    --header-h6: 1.5rem; 

    /* Text sizes */
    --font-size-xlarge: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.75rem;
}

$font_sansserif: 'Montserrat', sans-serif;
$font_numbers: 'Public Sans', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

body, input, button, textarea {
    font-family: $font_sansserif;
    font-size: var(--font-size-medium);
    font-weight: normal;
}

.preamble {
    font-size: var(--font-size-large);
    font-weight: $semibold;
    max-width: 70vw;
}

article {
    .content {
        max-width: 62vw;
    }
}

a {
    color: var(--link);
    display: inline-block;

    &.is-active, &:hover, &:focus {
        color: var(--text-inverted);
        background-color: var(--darkest);
    }
}

@mixin heading {
    font-weight: 600;
    line-height: 125%;
}

h1, h2, h3, h4, h5 {
    @include heading;
}

h1 {
    font-size: var(--header-h1);
}

h2 {
    font-size: var(--header-h2);
}

h3 {
    font-size: var(--header-h3);
}

h4 {
    font-size: var(--header-h4);
}

.smaller-headings {
    h2 {
        font-size: var(--header-h4);
    }
    
    h3 {
        font-size: var(--header-h5);
    }
    
    h4 {
        font-size: var(--header-h6);
    } 
}