@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/PublicSans-VariableFont_wght.ttf')
}

@font-face {
    font-family: 'Finlandica';
    src: url('/assets/fonts/Finlandica-VariableFont_wght.ttf')
}

@font-face {
    font-family: 'Jost';
    src: url('/assets/fonts/Jost-VariableFont_wght.ttf')
}

$font_sansserif: 'Jost', sans-serif;
$font_numbers: 'Jost', sans-serif;

:root {
    /* Header sizes */
    --header-h1: 3.2rem;
    --header-h2: 2.6rem;
    --header-h3: 2.1rem;
    --header-h4: 1.5rem;
    --header-h5: 1.25rem; 
    --header-h6: 1rem; 

    --header-top-space: 2rem;

    /* Text sizes */
    --font-size-xlarge: 1.5rem;
    --font-size-large: 1.2rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.75rem;

    --semibold: 600;
    --bold: 700;
    --normal: 400;
    --light: 300;
}

body, input, select, button, textarea {
    font-family: $font_sansserif;
    font-size: var(--font-size-medium);
    font-weight: normal;
    font-variant-numeric: lining-nums;
    letter-spacing: 0.015rem;
}

table td {
    font-variant-numeric: tabular-nums;
}

@mixin text {
    line-height: 115%;
    max-width: 65ch;
}

p {
    @include text;
}

@mixin heading {
    font-weight: 600;
    line-height: 130%;
    margin-bottom: var(--space-small);
    margin-top: var(--header-top-space);
    letter-spacing: 0.025rem;
}

h1, h2, h3, h4, h5 {
    @include heading;
}

h1 {
    font-size: var(--header-h1);
    max-width: 42ch;
}

h2 {
    font-size: var(--header-h2);
    max-width: 45ch;
}

h3 {
    font-size: var(--header-h3);
    max-width: 56ch;
}

h4 {
    font-size: var(--header-h4);
    max-width: 60ch;
}
h5 {
    font-size: var(--header-h5);
    max-width: 64ch;
}

.smaller-headings {
    h2 {
        font-size: var(--header-h3);
    }
    
    h3 {
        font-size: var(--header-h5);
    }
    
    h4 {
        font-size: var(--header-h6);
    } 
}

caption, figcaption {
    font-size: var(--header-h4);
    font-weight: var(--bold);
    margin-top: var(--space-top);
}
caption .subcaption, figcaption .subcaption {
    display: inline-block;
    width: 100%;
    font-size: var(--header-h6);
    font-weight: var(--semibold);
}

dd, dt, address, time {
    font-style: normal;
}

label {
    font-weight: var(--semibold);
}

input, textarea, select {
    padding: var(--space-small) var(--space-small) var(--space-small);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--input-background);

    &:focus {
        border-color: var(--border-focus);
        outline: 1px solid var(--border-focus);
        background-color: var(--input-background);
    }
}

.preamble {
    font-size: var(--font-size-xlarge);
    font-weight: var(--semibold);
    max-width: 42ch;
}

.links-inverted a {
    color: var(--text-inverted);

    &:hover, &:hover {
        background-color: var(--link-hover-background);
    }
}
a{
    color: var(--link);
    display: inline-block;
}

details {
    cursor: default;

    summary {
        cursor: pointer;
    }
}
details:not([open]) {
    color: var(--link);
    display: inline-block;
    text-decoration: underline;
}

a.is-active {
    text-decoration: none;
    font-weight: 500;
}

a, a > h3 {
    &.is-active, &:hover, &:focus {
        color: var(--link-hover);
        background-color: var(--link-hover-background);
        text-decoration: none;
    }
}

a:has(h3) {
    text-decoration: none;
}

a.readmore {
    margin-bottom: 1.15rem;
    color: var(--link);
    display: inline-block;
    font-size: var(--font-size-small);
    align-self: end;
 
    &:hover, &:focus {
        color: var(--link-hover);
        background-color: var(--link-hover-background);
    }
}

ol li, ul li {
    padding: 0;
    margin: 0;
}

ol, ul {
    padding: 0 var(--space-large);
    margin-bottom: var(--space-xlarge);
    --space-between: 0;
}

.content {
    li {
        margin-bottom: var(--space-small);
    }
}

.vignette {
    text-transform: uppercase;
    font-weight: var(--semibold);
}

::selection {
    background-color: var(--selection);
    color: var(--text);
    text-decoration: none;
}
