@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Public Sans';
    src: url('/assets/fonts/PublicSans-VariableFont_wght.ttf')
}

$font_sansserif: 'Montserrat', sans-serif;
$font_numbers: 'Public Sans', sans-serif;

:root {
    /* Header sizes */
    --header-h1: 3.2rem;
    --header-h2: 2.6rem;
    --header-h3: 2.1rem;
    --header-h4: 1.75rem;
    --header-h5: 1.5rem; 
    --header-h6: 1.25rem; 
    --header-h7: 1rem; 

    /* Text sizes */
    --font-size-xlarge: 1.5rem;
    --font-size-large: 1.2rem;
    --font-size-medium: 1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.75rem;

    --semibold: 500;
    --bold: 600;
    --normal: 400;
    --light: 300;
}

body, input, button, textarea {
    font-family: $font_sansserif;
    font-size: var(--font-size-medium);
    font-weight: normal;
}

p {
    max-width: 65ch;
}

.preamble {
    font-size: var(--font-size-xlarge);
    font-weight: var(--semibold);
    max-width: 42ch;
}

.links-inverted a {
    color: var(--text-inverted);

    &:hover, &:hover {
        background-color: var(--text);
    }
}
a {
    color: var(--link);
    display: inline-block;
}

a.is-active {
    text-decoration: none;
    font-weight: 500;
}

a, a h3 {
    &.is-active, &:hover, &:focus {
        color: var(--text-inverted);
        background-color: var(--darkest);
        text-decoration: none;
    }
}

ol li, ul li {
    padding: 0;
    margin: 0;
}

ol, ul {
    padding: 0 var(--space-large);
    margin-bottom: var(--space-xlarge);
    --space-between: 0;
}

a.readmore {
    margin-top: var(--space-tiny);
    color: var(--link);
    display: inline-block;
    padding: var(--space-small) var(--space-tiny);
    font-size: var(--font-size-small);
 
    &:hover, &:focus {
        color: var(--text-inverted);
        background-color: var(--darkest);
    }
}

::selection {
    background-color: var(--selection);
    color: var(--text);
    text-decoration: none;
}

@mixin text {
    line-height: 115%;
}

p {
    @include text;
}

@mixin heading {
    font-weight: 600;
    line-height: 150%;
    margin-bottom: var(--space-medium);
    margin-top: var(--space-top);
}

h1, h2, h3, h4, h5 {
    @include heading;
}

h1 {
    font-size: var(--header-h1);
}

h2 {
    font-size: var(--header-h2);
}

h3 {
    font-size: var(--header-h3);
}

h4 {
    font-size: var(--header-h4);
}
h5 {
    font-size: var(--header-h5);
}

.smaller-headings {
    h2 {
        font-size: var(--header-h5);
    }
    
    h3 {
        font-size: var(--header-h6);
    }
    
    h4 {
        font-size: var(--header-h7);
    } 
}

caption {
    font-size: var(--header-h4);
    font-weight: var(--bold);
}
caption .subcaption {
    display: inline-block;
    width: 100%;
    font-size: var(--header-h6);
    font-weight: var(--semibold);
}

dd, dt, address, time {
    font-style: normal;
}

label {
    font-weight: var(--semibold);
    position: absolute;
    margin-top: 0.35rem;
    margin-left: 0.45rem;
    font-size: var(--font-size-small);
    display: none;
}

input {
    padding: var(--space-small) var(--space-small) var(--space-small);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);

    &:focus {
        border-color: var(--text);
        outline: 1px solid var(--text);
    }
}