<nav class="tools">
    <h2>Tools and services</h2>
    <div class="columns-4">
        <a href="/#statistical-database" class="icon icon-bars">Population data in Statistical Databases</a>
        <a href="/#nminfigures" class="icon icon-pie">North Macedonia in Figures (PDF)</a>
        <a href="/#nminfigures" class="icon icon-pie">Population Census 2022</a>
        <a href="/#nminfigures" class="icon icon-pie">Name search</a>
    </div>
    <a href="/tools" class="readmore">All tools and services</a>
</nav>
