<nav class="tools margin-top">
    <header>
        <h2>Tools and services</h2>
        <a href="/templates/tools.html" class="readmore">All tools and services</a>
    </header>

    <div class="columns-4">
        <a href="/#statistical-database" class="icon icon-bars">Statistical database</a>
        <a href="/#namesearch" class="icon icon-person">Name search</a>
        <a href="/templates/publications.html" class="icon icon-publication">Publications</a>
        <a href="/#survey" class="icon icon-checklist">Survey of business sector</a>
        <a href="/releases" class="icon icon-calendar">Advance release calendar</a>
    </div>
</nav>
