<nav class="tools">
    <h2>Tools and services</h2>
    <div class="row column_if_mobile">
        <a href="/#statistical-database" class="icon icon-bars">Statistical database</a>
        <a href="/#nminfigures" class="icon icon-pie">North Macedonia in Figures</a>
        <a href="/#survey" class="icon icon-checklist">Survey of business sector</a>
        <a href="/releases" class="icon icon-calendar">Advance release calendar</a>
    </div>
    <a href="/tools" class="readmore">All tools and services</a>
</nav>
