@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-VariableFont_wght.ttf");
  }

.color {
    border-radius: 10rem;
    width: 5rem;
    height: 5rem;
}

ul.colors {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
}

.colors li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
    padding: 2rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    width: 8rem;
    height: 8rem;
}

.template main, .template header {
    max-width: 920px;
    margin: 0 auto;
}

body.template {
   font-family: 'Montserrat', sans-serif; 
}

.template td, .template th {
    padding: 0.5rem;
    text-align: left;
}

.template td:first-of-type {
    width: 20%;
}

.template td:nth-of-type(2) {
    width: 70%;
}
.template td:nth-of-type(3) {
    width: 10%;
}

.template table {
    margin-bottom: 2rem;
    width: 100%;
}

.template caption {
    font-weight: 700;
    font-size: 1.75rem;
    text-align: left;
    padding: 0.5rem 0.25rem;
}

nav.templating {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}

.template-load-error {
    color:hsl(29, 100%, 41%);
    background-color: hsl(29, 100%, 89%);
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.template-is-empty {
    color:hsl(133, 100%, 22%);
    background-color: hsl(132, 100%, 91%);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.is-hidden {
    display: none;
}

.code {
    font-family: Courier, 'Courier New', monospace;
    color:hsl(133, 100%, 22%);
    background-color: hsl(132, 100%, 100%);
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid hsl(130, 8%, 55%);
}

.code::selection {
    background-color: hsl(130, 8%, 75%);
    color:hsl(130, 8%, 15%);
}