<div class="is-main row column-if-mobile space-between">
    <nav class="main row gap-small column-if-mobile" aria-label="Main menu">
        <a href="/templates/start.html" class="is-active">Start</a>
        <a href="/templates/statistics.html">Statistics</a>
        <a href="/_/services">Services</a>
        <a href="/_/about">About us</a>
    </nav>

    <nav class="language row gap-small column-if-mobile" aria-label="Change language">
        <a href="/_/" class="is-active" aria-label="English">EN</a>
        <a href="/_/" aria-label="Македонски">MK</a>
        <a href="/_/" aria-label="Shqip">AL</a>
    </nav>
</div>