<div class="is-main row column-if-mobile space-between mobile-hidden" id="mainmenu">
    <nav class="main row gap-small column-if-mobile" aria-label="Main menu">
        <a href="/templates/start.html" class="is-active" tabindex="0">Start</a>
        <a href="/templates/statistics.html" tabindex="0">Statistics</a>
        <a href="/_/services" tabindex="0">Services</a>
        <a href="/_/about" tabindex="0">About us</a>
    </nav>

    <nav id="language" class="language row gap-small" aria-label="Change language">
        <a href="/_/" class="is-active" aria-label="English" tabindex="0">EN</a>
        <a href="/_/" aria-label="Македонски" tabindex="0">MK</a>
        <a href="/_/" aria-label="Shqip" tabindex="0">AL</a>
    </nav>
</div>