<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/icons/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!-- Remove templating from production -->
        <link rel="stylesheet" href="/_system/templating.css" />
        <script src="/_system/templating.js"></script>
        <!-- End templating-->
        
        <title>Detail page, MakStat templates</title>
    </head>
    <body>
        <nav class="templating"><button onclick="toggleCode()">Toggle code</button></nav>
        <header>
            <div data-include="/components/logo/logo.html"></div>
            <div data-include="/components/search/search.html"></div>
        </header>
        
        <div data-include="/components/navigation/topmenu/statistics.html"></div>
            
        <main>
        <article>
            <div data-include="/components/navigation/breadcrumb/details.html"></div>
            <header>
                <span class="vignette">Statistical release</span>
                <time class="datetime">Published: 2022-11-11, 11:00</time>

                <h1>Tourism, September 2022</h1>
                
                <p class="preamble">The total number of tourists in September 2022 was 103 787, an increase of 89.89% from September 2021.</p>
                <div data-include="/components/tools/download.html"></div>
            </header>
            <section class="content">
                <p>The number of tourists in September 2022 was 103 787, of which 32.9% were domestic tourists and the other 67.1% were foreign tourists.</p>
                    
                <p>The number of nights spent in September 2022 was 221 927, of which 36.9% are realised by domestic and the other 63.1% are realised by foreign tourists.</p>

                <p>In the period January - September 2022, compared to the same period last year, the number of tourists increased by 37.0%: the number of domestic tourists increased by 4.3%, while that of foreign tourists increased by 88.2%.</p>
                
                <p>In the period January - September 2022, compared to the same period last year, the number of nights spent increased by 21.3%: the number of nights spent by domestic tourists increased by 2.4%, while those by foreign tourists increased by 76.2%.</p>
            
                <h2>Tables and charts</h2>

                <ol class="index">
                    <li><a href="#1">Number of tourists, months compared</a></li>
                    <li><a href="#2">Number of tourists, years compared</a></li>
                    <li><a href="#3">Key indicators</a></li>
                </ol>

                <div data-include="/elements/table/number-of-tourists-month.html"></div>
                <div data-include="/elements/table/number-of-tourists-year.html"></div>
                <div data-include="/elements/table/key-indicators.html"></div>
                <div data-include="/components/chart/default.html"></div>
                
                <div data-include="https://makstat.stat.gov.mk/PXWeb/sq/b2561447-9efa-4068-961f-aae484cdbf82?html5_table"></div>  
            </section>

            <!-- Start related -->
            <!-- Elements that shows earlier results or related content -->
            <div data-include="/components/lists/releases/tourism.html"></div>
            <!-- End related -->

            <div data-include="/components/contact/page.html"></div>
        </article>
        </main>

        <div data-include="/elements/footer.html"></div>
    </body>
    <script>    
        includeHTML()
    </script> 
</html>