<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/icons/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!-- Remove templating from production -->
        <link rel="stylesheet" href="/_system/templating.css" />
        <script src="/_system/templating.js"></script>
        <!-- End templating-->
        
        <title>Detail page, MakStat templates</title>
    </head>
    <body>
        <nav class="templating"><button onclick="toggleCode()">Toggle code</button></nav>
        <header>
            <div data-include="/components/logo/logo.html"></div>
            <div data-include="/components/search/search.html"></div>
        </header>
        <div data-include="/components/navigation/topmenu.html"></div>
        <article>
            <header>
                <h1>Tourism, September 2022</h1>
                <p class="preamble">The total number of tourists in September 2022 was 103 787, an increase of 89.89% from September 2021.</p>
                <details>
                    <summary>
                        <time class="datetime">2022-11-11</time>
                        <address class="author">
                            <a href="tel:+38923295666">+389 2 3295 666 </a>
                            <a href="mailto:press@stat.gov.mk ">press@stat.gov.mk</a>
                        </address>
                    </summary>
                </details>
            </header>
            <section class="content">
            <p>The number of tourists in September 2022 was 103 787, of which 32.9% were domestic tourists and the other 67.1% were foreign tourists.</p>
                
            <p>The number of nights spent in September 2022 was 221 927, of which 36.9% are realised by domestic and the other 63.1% are realised by foreign tourists.</p>

            <p>In the period January - September 2022, compared to the same period last year, the number of tourists increased by 37.0%: the number of domestic tourists increased by 4.3%, while that of foreign tourists increased by 88.2%.</p>
            
            <p>In the period January - September 2022, compared to the same period last year, the number of nights spent increased by 21.3%: the number of nights spent by domestic tourists increased by 2.4%, while those by foreign tourists increased by 76.2%.</p>
        
            <h2>Tables</h2>

            <div data-include="/elements/table/number-of-tourists-month.html"></div>
            <div data-include="/elements/table/number-of-tourists-year.html"></div>
            </section>
        </article>
        <footer class="row spaced wrap">
            <div data-include="/components/contact/footer.html"></div>
            <div data-include="/components/lists/links/footer.html"></div>
        </footer>
    </body>
    <script>    
        includeHTML()
    </script> 
</html>