<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/icons/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!-- Remove templating from production -->
        <link rel="stylesheet" href="/_system/templating.css" />
        <script src="/_system/templating.js"></script>
        <!-- End templating-->
        
        <title>Skeleton, MakStat templates</title>
    </head>
    <body>
        <nav class="templating"><button onclick="toggleCode()">Toggle code</button></nav>
  
        <div data-include="/elements/header.html"></div>
        <div data-include="/components/navigation/topmenu/start.html"></div>
        <main>
            <p>content goes here</p>
        </main>
        
        <div data-include="/elements/footer.html"></div>
 
    </body>
    <script>    
        includeHTML()
    </script> 
</html>