<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/icons/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!-- Remove templating from production -->
        <link rel="stylesheet" href="/_system/templating.css" />
        <script src="/_system/templating.js"></script>
        <!-- End templating-->
        
        <title>Start, MakStat templates</title>
    </head>
    <body>
        <nav class="templating"><button onclick="toggleCode()">Toggle code</button></nav>
        <header>
            <div data-include="/components/logo/logo.html"></div>
            <div data-include="/components/search/search.html"></div>
            <div data-include="/components/navigation/language/_.html"></div>
        
        </header>
        <div data-include="/components/navigation/topmenu/start.html"></div>
        <main class="smaller-headings">
            <header class="background-image background-2">
                <h1>Statistics North Macedonia</h1>
            </header>
            <div data-include="/components/indicators/cards/start.html"></div>
            <div data-include="/components/tools/start.html"></div>
            <div class="columns-2">
                <div data-include="/components/lists/releases/start.html"></div>
                <div data-include="/components/lists/news/start.html"></div>
            </div>

            <div data-include="/components/lists/cards/highlighted.html"></div>
            
        </main>

 
        <div data-include="/elements/footer.html"></div>
    </body>
    <script>    
        includeHTML()
    </script> 
</html>