<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/icons/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <!-- Remove templating from production -->
        <link rel="stylesheet" href="/_system/templating.css" />
        <script src="/_system/templating.js"></script>
        <!-- End templating-->
        
        <title>Skeleton, MakStat templates</title>
    </head>
    <body>
        <nav class="templating"><button onclick="toggleCode()">Toggle code</button></nav>
        <header>
            <div data-include="/components/logo/logo.html"></div>
            <div data-include="/components/search/search.html"></div>
        </header>
        <div data-include="/components/navigation/topmenu/statistics.html"></div>
        <main>
            <div data-include="/components/navigation/breadcrumb/theme-population.html"></div>
            <h1>Population and living conditions</h1>
            <p class="preamble">Population statistics refer to numerical data on the population that is the subject of observation, and serve as a basis for analysis of demographic and social changes and tendencies that influence structural population changes.
            </p>
            <div data-include="/components/indicators/cards/population.html"></div>
            <div class="columns-2">
                <div data-include="/components/lists/releases/population.html"></div>
                <div data-include="/components/lists/links/population.html"></div>
            </div>
            <div data-include="/components/tools/population.html"></div>

            <h3>Documentation and Methodology</h3>
            <p>A list?</p>
        </main>
        
        <div data-include="/elements/footer.html"></div>
 
    </body>
    <script>    
        includeHTML()
    </script> 
</html>