<section class="indicators row spaced wrap">
    <div class="item column">
        <h3>Population</h3>
        <span class="value">2068808</span>
        <span class="unit">Persons</span>
        <span class="period">2020</span>
    </div>
    <div class="item column">
        <h3>Population</h3>
        <span class="value">2068808</span>
        <span class="unit">Persons</span>
        <span class="period">2020</span>
    </div>
    <div class="item column">
        <h3>Population</h3>
        <span class="value">2068808</span>
        <span class="unit">Persons</span>
        <span class="period">2020</span>
    </div>
    <div class="item column">
        <h3>Population</h3>
        <span class="value">2068808</span>
        <span class="unit">Persons</span>
        <span class="period">2020</span>
    </div>
</section>