<section class="indicators columns-4">
    <div class="item column padded panel">
        <a href="/statistics/population">
            <h3>Population</h3>
        </a>
        <p>
            <span class="value">2 068 808</span>
            <span class="unit">Persons</span>
            <span class="period">2020</span>
        </p>
    </div>
    <div class="item column padded panel">
        <a href="/statistics/gdp">
            <h3>Gross domestic product</h3>
        </a>
        <p>
            <span class="value">2.8%</span>
            <span class="unit">Percentage</span>
            <span class="period">June 2022, Last quarter</span>
        </p>
    </div>
    <div class="item column padded panel">
        <a href="/statistics/cpi">
            <h3>Consumer price index</h3>
        </a>
        <p>
            <span class="value">-9.9%</span>
            <span class="unit">Percentage</span>
            <span class="period">2020</span>
        </p>
    </div>
    <div class="item column padded panel">
        <a href="/statistics/employment">
            <h3>Unemployment rate</h3>
        </a>
        <p>
            <span class="value">14.5%</span>
            <span class="unit">Percentage</span>
            <span class="period">June 2020, last quarter</span>
        </p>
    </div>
</section>
<a href="/indicators" class="readmore">All indicators</a>