<section class="list column">
    <h2>Latest releases</h2>

    <article class="release">
        <a href="/release/energy/monthly-2022-07">
            <h3>Some population release</h3>
        </a>
        <p>Mortality, July 2022 - preliminary data</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/agriculture/monthly-2022-08">
            <h3>Other population release</h3>
        </a>
        <p>Migrations, 2020</p>
        <p class="datetime">
            <span class="date">26</span>
            <span class="month" aria-label="September">Sep</span>
        </p>
    </article>

    <article class="release">
        <a href="/release/internal-trade/quarterly-2020-Q1">
            <h3>And another</h3>
        </a>
        <p>Demographics</p>
        <p class="datetime"><span class="date">23</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <a href="/releases/all" class="readmore">All releases</a>
</section>