<section class="list column">
    <header>
        <h2>Latest releases</h2>
        <a href="/releases/all" class="readmore">All releases</a>
    </header>
    <article class="release">
        <a href="/release/energy/monthly-2022-07">
            <h3>Mortality, July 2022 - preliminary data</h3>
        </a>
        <p>Jowl landjaeger porchetta pork chop, tenderloin drumstick frankfurter bresaola. </p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/agriculture/monthly-2022-08">
            <h3>Migrations, 2020</h3>
        </a>
        <p>Pastrami picanha spare ribs kielbasa buffalo hamburger chuck turducken. Pork loin landjaeger venison, jowl hamburger flank corned beef.</p>
        <p class="datetime">
            <span class="date">26</span>
            <span class="month" aria-label="September">Sep</span>
        </p>
    </article>

    <article class="release">
        <a href="/_/releases/">
            <h3>Demographics</h3>
        </a>
        <p>Bacon ipsum dolor amet turkey pork chop shankle prosciutto drumstick fatback, t-bone short loin porchetta tenderloin doner rump filet mignon burgdoggen shoulder. Pork jowl corned beef porchetta kielbasa. </p>
        <p class="datetime"><span class="date">23</span><span class="month" aria-label="September">Sep</span></p>
    </article>
</section>