<section class="list column">
    <h2>Latest releases</h2>

    <article class="release">
        <a href="/templates/details.html">
            <h3>Industrial producer price indices on the domestic market, August 2022</h3>
        </a>
        <p>1.5% increase of industrial producer prices on the domestic market last month</p>

        <p class="datetime"><span class="date">28</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/energy/monthly-2022-07">
            <h3>Energy, July 2022 - preliminary data</h3>
        </a>
        <p>Gross national electricity production participated with 82.4% in gross national electricity consumption</p> 
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/agriculture/monthly-2022-08">
            <h3>Regional accounts for agriculture, 2020</h3>
 
        </a>
        <p>Southeast Region contributeted the most of all regions to agriculture gross value with 30.2%</p>
 
        <p class="datetime">
            <span class="date">26</span>
            <span class="month" aria-label="September">Sep</span>
        </p>
    </article>

    <article class="release">
        <a href="/release/internal-trade/quarterly-2020-Q1">
            <h3>Internal trade</h3>
        </a>
        <p>Turnover indices in services, according the divisions and sections NACE rev.2, by quarters</p>
        <p class="datetime"><span class="date">23</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <a href="/templates/list.html" class="readmore">All releases</a>
</section>