<section class="list column">
    <h2>Latest releases</h2>

    <article class="release">
        <a href="/release/prices/domestic-2022-08">
            <h3>1.5% increase of industrial producer prices on the domestic market last month</h3>
        </a>
        <p>Industrial producer price indices on the domestic market, August 2022</p>
        <p class="datetime"><span class="date">28</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/energy/monthly-2022-07">
            <h3>Gross national electricity production participated with 82.4% in gross national electricity consumption</h3>
        </a>
        <p>Energy, July 2022 - preliminary data</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/agriculture/monthly-2022-08">
            <h3>Southeast Region contributeted the most of all regions to agriculture gross value with 30.2%</h3>
        </a>
        <p>Regional accounts for agriculture, 2020</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/internal-trade/quarterly-2020-Q1">
            <h3>Turnover indices in services, according the divisions and sections NACE rev.2, by quarters</h3>
        </a>
        <p>Internal trade</p>
        <p class="datetime"><span class="date">23</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <a href="/releases/all" class="readmore">All releases</a>
</section>