<aside class="list column">
    <header>
        <h2>Earlier results</h2>
        <a href="/releases/all#topic=tourism" class="readmore">All releases</a>
    </header>
    <article class="release">
        <a href="/release/tourism/monthly-2022-07">
            <h3>Tourism, July 2022</h3>
        </a>
        <p>The number of tourists in July 2022 was 103 787, of which 32.9% were domestic tourists and the other 67.1% were foreign tourists.</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/tourism/monthly-2022-06">
            <h3>Tourism, June 2022</h3>
        </a>
        <p>The number of tourists in June 2022 was 94 323, of which 28.2% were domestic tourists and the other 71.8% were foreign tourists.</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/tourism/monthly-2022-05">
            <h3>Tourism, May 2022</h3>
        </a>
        <p>The number of tourists in May 2022 was 94 323, of which 28.2% were domestic tourists and the other 71.8% were foreign tourists.</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

    <article class="release">
        <a href="/release/tourism/monthly-2022-04">
            <h3>Tourism, April 2022</h3>
        </a>
        <p>The number of tourists in April 2022 was 94 323, of which 28.2% were domestic tourists and the other 71.8% were foreign tourists.</p>
        <p class="datetime"><span class="date">26</span><span class="month" aria-label="September">Sep</span></p>
    </article>

</aside>