<section>
    <header>
        <h2>Highlighted statistics</h2>
        <a href="/templates/tools.html" class="readmore">All tools and services</a>
    </header>
    <div class="list list-cards columns-4 ">
        <a href="/#" class="padded panel column-1">
            <article>
                <img alt="" src="/assets/img/covers/gender.jpg" />
                <h3>Women and men in North Macedonia</h3>
                <p> Insight into the demographic characteristics of women and men in the Republic of North Macedonia and their participation in the social and economic life of the country.</p>
                <p class="datetime">2022-09-22</p>
            </article>
        </a>
        <a href="/#" class="padded panel column-1">
            <article>
                <img alt="" src="/assets/img/covers/nmfigures.jpg" />
                <h3>North Macedonia in Figures</h3>
                <p>Statistic on demographics and the socio-economic situation in the country.</p>
                <p class="datetime">2022-09-22</p>
            </article>
        </a>
        <a href="/#" class="padded panel column-1">
            <article>
                <img alt="" src="/assets/img/covers/sdg.jpg" />
                <h3>SDG Indicators</h3>
                <p>Statistics on how North Macedonia is doing on the 17 Sustainable Development Goals.</p>
                <p class="datetime">2022-09-22</p>
            </article>
        </a>
    </div>
<section>
