<div class="contact">
    <h3>Contact</h3>
    <address vocab="https://schema.org/" typeof="Organization">    
        <span property="name">State Statistical Office of North Macedonia</span>
        <div property="address" typeof="PostalAddress">
            <span property="streetAddress">ul. “Dame Gruev” 4</span>
            <br />
            <span property="postalCode">1000</span> <span property="addressRegion">Skopje</span>
        </div>
        <br />
        <span>Phone: <a property="telephone" href="tel:+389 408 714-1489">(408) 714-1489</a></span>
        <br />
        <span>Site:<a property="url" href="https://stat.gov.mk">stat.gov.mk</a></span>
    </address> 
</div>