<section class="column_if_mobile columns-3">
    <div class="list link-list panel padded">
        <h3>Topics</h3>
        <ul>
            <li><a href="/statistics/marraiges-divorces">Marriages and divorces</a></li>
            <li><a href="/statistics/mortality">Mortality</a></li>
            <li><a href="/statistics/natality">Natality</a></li>
            <li><a href="/statistics/population-movement">Natural movements of the population</a></li>
            <li><a href="/statistics/migration">Migration</a></li>
            <li><a href="/statistics/natural-population-change">Natural population change</a></li>
            <li><a href="/statistics/violent-deaths">Violent deaths</a></li>
            <li><a href="/statistics/demographics">Demographics</a></li>
        </ul>
    </div>
</section>