<section class="list link-list">
    <header>
        <h2 id="themes">Themes</h2>
        <a href="#topics" class="readmore">All by topic</a>
    </header>
    <ul class="columns-3">
        <li><a href="/statistics/agriculture">Agriculture</a></li>
        <li><a href="/statistics/economy-and-finance">Economy and Finances</a></li>
        <li><a href="/statistics/industry-energy-and-environment">Industry, Energy and Environment</a></li>
        <li><a href="/templates/theme.html">Population and Living conditions</a></li>
        <li><a href="/statistics/">Trade, transport and tourisme</a></li>
        <li><a href="/statistics/">Regional statistics</a></li>
        <li><a href="/statistics/">Multi-domain statistics</a></li>
    </ul>
</section>