<h2 id="topics">Topics</h2>

<section class="column_if_mobile columns-3">
    <div class="list link-list panel padded">
        <h3>Agriculture</h3>
        <ul>
            <li><a href="/statistics/economic-accounts">Economic accounts</a></li>
            <li><a href="/statistics/crops">Crop productivity</a></li>
            <li><a href="/statistics/livestock-fisheries">Livestock and fisheries</a></li>
            <li><a href="/statistics/forestry">Forestry</a></li>
            <li><a href="/statistics/agricultural-structure">Structure of agricultural hodups</a></li>
            <li><a href="/statistics/agricultural-census">Agriculture census</a></li>
        </ul>
    </div>

    <div class="list link-list panel padded">
        <h3>Industry, Energy and Environment</h3>
        <ul>
            <li><a href="/statistics/industry">Industry</a></li>
            <li><a href="/statistics/construction">Construction</a></li>
            <li><a href="/statistics/energy">Energy</a></li>
            <li><a href="/statistics/environment">Environment</a></li>
        </ul>
    </div>

    <div class="list link-list panel padded">
        <h3>Transport, Tourism and Trade</h3>
        <ul>
            <li><a href="/statistics/transport-communication">Transport and communication</a></li>
            <li><a href="/statistics/internal-trade">Internal trade</a></li>
            <li><a href="/statistics/foreign-trade">Foreign trade</a></li>
            <li><a href="/statistics/tourism">Tourism</a></li>
            <li><a href="/statistics/information">Information</a></li>
        </ul>
    </div>

    <div class="list link-list panel padded">
        <h3>Transport, Tourism and Trade</h3>
        <ul>
            <li><a href="/statistics/transport-communication">Transport and communication</a></li>
            <li><a href="/statistics/internal-trade">Internal trade</a></li>
            <li><a href="/statistics/foreign-trade">Foreign trade</a></li>
            <li><a href="/statistics/tourism">Tourism</a></li>
            <li><a href="/statistics/information">Information</a></li>
        </ul>
    </div>

    <div class="list link-list panel padded">
        <h3>Transport, Tourism and Trade</h3>
        <ul>
            <li><a href="/statistics/transport-communication">Transport and communication</a></li>
            <li><a href="/statistics/internal-trade">Internal trade</a></li>
            <li><a href="/statistics/foreign-trade">Foreign trade</a></li>
            <li><a href="/statistics/tourism">Tourism</a></li>
            <li><a href="/statistics/information">Information</a></li>
        </ul>
    </div>
</section>