.list {
    h3 {
        font-size: var(--font-size-large);
        font-weight: var(--semibold);
        margin: 0;
    }

    p {
        margin-top: var(--space-tiny);
        margin-bottom: var(--space-small);
    }

    article.release {
        display: grid;
        grid-template-areas: 'date title'
                            'date content';

        h3 {
            grid-area: title;
        }

        p.datetime {
            grid-area: date;
            display: flex;
            flex-direction: column;
            padding: 0 var(--space-medium) var(--space-small) 0;
            margin: 0;
        }
        p {
            grid-area: content;
        }

        .date {
            font-size: var(--header-h3);
            font-weight: var(--bold);
            margin: var(--space-small) 0;
        }
        .month {
            text-transform: uppercase;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-medium);

        a {
            color: var(--text);
        }

        p.datetime {
            font-weight: var(--semibold);
        }
    }
}

.link-list {
    ul {
        list-style: '■';
        padding: var(--space-medium);
    }
    li a {
        display: inline-block;
        padding: var(--space-small);
    }
}