.list {
    &.cover-top {
        background-repeat: no-repeat;
        background-size:contain;
        padding-top: 140px;
    }
    h3 {
        font-size: var(--font-size-large);
        font-weight: var(--semibold);
        margin: 0;
    }

    p {
        margin-top: var(--space-tiny);
        margin-bottom: var(--space-small);
    }

    article.release {
        width: 100%;
        display: grid;
        grid-template-areas: 'date title'
                            'date content';
        justify-content: start;

        h3 {
            grid-area: title;
        }

        p.datetime {
            grid-area: date;
            display: flex;
            flex-direction: column;
            padding: 0 var(--space-medium) var(--space-small) 0;
            margin: 0;
            align-items: center;
        }
        p {
            grid-area: content;
        }

        .date {
            font-weight: var(--bold);
            font-size: var(--header-h3);
            margin: var(--space-small) 0;
        }
        .month {
            text-transform: uppercase;
        }
    }

    article {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: var(--space-medium);
        gap: 0.25rem;

        a {
            color: var(--text);
        }

        p.datetime {
            font-weight: var(--semibold);
        }
    }

    article.has-image {
        display: grid;
        grid-template-areas: 'header header'
                            'text img'
                            'date img'
        ;
        grid-template-columns: 2fr 1fr;
        gap: var(--space-small);

        a {
            grid-area: header;
        }
        p {
            grid-area: text;
        }
        p.datetime {
            grid-area: date;
        }
        picture {
            grid-area: img;

            img {
                width: 100%;
                max-width: min(100%, 240px);
            }
        }
    }
}

.list-cards {
    a {
        color: var(--text);
        text-decoration: none;

        h3 {
            text-decoration: underline;
        }

        &:hover, &:focus {
            color: var(--link-hoover);

            img {
                filter: grayscale(100%);
            }
        }
    }
}

.link-list {
    ul {
        list-style: '■';
        padding: 0 var(--space-xs);
        margin-bottom: var(--space-medium);
    }
    li a {
        display: inline-block;
        padding: var(--space-small);
    }
}