.pagination {
    display: flex;
    flex-direction: row;
    gap: var(--space-between);

    a {
        display: inline-block;
        padding: var(--space-small);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        background-color: var(--panel-background);
        color: var(--link);
    }

    a.is-active {
        color: var(--link-selected);
        background-color: var(--link-selected-background);
        border-color: var(--link-selected-background);
    }
}

article nav.tools {
    margin-bottom: var(--space-between);
}

nav.breadcrumb { 
    padding-top: 0;
    padding-bottom: 0;
    margin-top: calc(2 * var(--space-between));

    ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li::after {
            content: '/';
            margin-left: var(--space-tiny);
            margin-right: var(--space-tiny);
        }
        li:last-of-type::after {
            content: '';
        }

        a.is-active {
            color: var(--text);
            font-weight: var(--semibold);
            background-color: transparent;
            text-decoration: none;
        }
    }
}

nav.main, nav.language {
    a {
        display: inline-block;
        padding: var(--space-small) var(--space-medium);
        font-size: 1.05rem;
    }
}

@media screen and (max-width: 480px) {
    nav.main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-grow: 2;

        a {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            background-color: var(--panel-background);
            color: var(--link);

            &:hover, &:focus, &.is-active {
                color: var(--link-hover);
                background-color: var(--link-hover-background);
            }

            &.is-active {
                background-color: var(--link-selected-background);
                border-color: var(--link-selected-background);
                color: var(--link-selected);
            }
        }
    }
    
}