@mixin icon {
    background-position: 1.25rem 1rem;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
}

nav.pagination {
    display: flex;
    flex-direction: row;
    gap: var(--space-between);

    a {
        display: inline-block;
        padding: var(--space-small);
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        background-color: var(--panel-background);
        color: var(--link);
    }
}

article nav.tools {
    margin-bottom: var(--space-between);
}

nav.breadcrumb { 
    padding-top: 0;
    padding-bottom: 0;
    ol {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li::after {
            content: '/';
            margin-left: var(--space-tiny);
            margin-right: var(--space-tiny);
        }
        li:last-of-type::after {
            content: '';
        }

        a.is-active {
            color: var(--text);
            font-weight: var(--semibold);
            background-color: transparent;
            text-decoration: none;
        }
    }
}

nav.main, nav.language {
    a {
        display: inline-block;
        padding: var(--space-small) var(--space-medium);
    }
}

@media screen and (max-width: 480px) {
    nav.main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            border: 1px solid var(--border-color);
            border-radius: var(--border-radius);
            background-color: var(--panel-background);
            color: var(--link);

            &:hover, &:focus, &.is-active {
                color: var(--link-hover);
                background-color: var(--link-hover-background);
            }
        }
    }
    
}

nav.tools {
    a.icon {
        @include icon;
        display: inline-block;
        padding: var(--space-small) var(--space-medium);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        color: var(--text);
        font-weight: var(--semibold);
        text-decoration: none; 
        background-color: var(--text-inverted);
        box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        padding: 1.25rem 1.5rem 1.25rem 3.5rem;
        align-self: start;

        &:hover, &:focus {
            color: var(--text-inverted);
            border-color: var(--text);
            border-width: 0;
            background-color: var(--darkest);
            box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
            margin: 1px 1px;
        }
    }
}