.search {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
        gap: var(--space-tiny);
        justify-content: start;
    }

    label {
        font-weight: var(--semibold);
        position: absolute;
        margin-top: 0.35rem;
        margin-left: 0.45rem;
        font-size: var(--font-size-small);
        display: none;
    }

    button {
        flex-grow: 1;
    }

    @media screen and (max-width: 640px ) {
        input {
            max-width: 32ch;
        }
    }

    @media screen and (max-width: 480px ) {
        input {
            max-width: 18ch;
        }
    }

    input {
        flex-grow: 2;       
    }
}