<section class="list column">
    <h2>Related news and announcements</h2>

    <article class="has-image">
        <a href="/templates/news.html">
            <h3>The Pilot Census of Agriculture 2022 finished</h3>
        </a>
        <p>In the past two weeks, the enumerators visited and interviewed the selected family farms and business entities that are registered and engaged in activities related to agriculture throughout the country.</p>
        <p class="datetime">Published 2022-09-22</p>
    </article>

    <article>
        <a href="/articles/expertgroup-population-housing-geneva">
            <h3>Pilot Census of Agriculture 2022 started</h3>
        </a>
        <p>Enumerators will visit and interview the selected family farms and business entities the upcoming two weeks</p>
        <p class="datetime">Published 2022-09-02</p>
    </article>

    <article>
        <a href="/articles/Agriculture">
            <h3>Farm typology updated</h3>
        </a>
        <p>New categories have been added to adhere to new EU regulations.</p>
        <p class="datetime">2022-07-20</p>
    </article>

    <a href="/templates/list.html" class="readmore">All news</a>
</section>