<section class="list column">
    <h2>News and announcements</h2>

    <article>
        <a href="/articles/pilot-census-agriculture-finished">
            <h3>The Pilot Census of Agriculture 2022 finished</h3>
        </a>
        <p>In the past two weeks, the enumerators visited and interviewed the selected family farms and business entities that are registered and engaged in activities related to agriculture throughout the country.</p>
        <p class="datetime">Published 2022-09-22</p>
    </article>

    <article>
        <a href="/articles/expertgroup-population-housing-geneva">
            <h3>Participation in Expert Group on Population and Housing Censuses, Geneva</h3>
        </a>
        <p>On the agenda was our director speaking about our own experience with population census “Lessons learned from the population censuses around 2020”</p>
        <p class="datetime">Published 2022-09-20</p>
    </article>

    <article>
        <a href="/articles/eurostat-screening-meeting">
            <h3>Eurostat, screening meeting</h3>
        </a>
        <p>As part of the process of starting accession negotiations with the EU the candidate countries are familiarised with the legislation of the European Union.</p>
        <p class="datetime">2022-09-22</p>
    </article>

    <a href="/templates/list.html" class="readmore">All news</a>
</section>