footer {
    margin-top: var(--space-xlarge);
    color: var(--text-inverted);
    background-color: var(--darkest);

    h3 {
        margin: 0;
    }

    span {
        display: inline-block;
        line-height: 150%;
    }
}