.logo {
    margin-left: -0.65rem;
    
    a {
        text-decoration: none;
    }
    a:hover, a:focus {
        background-color: transparent;
        color: var(--text);
        text-decoration: none;
    }
}

header.has-background {
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    justify-content: end;
}