table {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--text-inverted);
    padding: var(--space-medium);
}
caption {
    margin-bottom: var(--space-small);
}

th {
    font-weight: var(--semibold);
}

table.indicator {
    tr {
        :first-child {
            display: none;
        }

        td, th {
            text-align: right;
            border-top: 0;
        }
        td:first-of-type, th:nth-of-type(2) {
            border-left-width:0;
        }
        td {
            font-size: var(--header-h3);
            font-weight: var(--bold);
            padding-top: 0;
        }
    }
}

table {
    border-spacing: 0;
    margin-top: var(--space-top);

    th, td {
        padding: var(--space-small);
        margin: 0;
        border-width: 0;
        border-left: 1px solid var(--table-border-color);
    }

    tr > th:first-of-type {
        padding-left: 0;
        border-left-width: 0;
    }

    td {
        text-align: right;
    }

    th, caption {
        text-align: left;
    }

    tbody th, tbody td {
        border-top: 1px solid var(--table-border-color);
    }
}